nav                     {width:300px; height:50px; margin:0 auto; }
button                  {width:150px; height:50px; display:block; float:left; }

div                     {width:50%; height:auto; margin:0 auto; padding:5px; border:2px solid goldenrod;
                        background-color: gold;
                        box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }